<!DOCTYPE html>
  <!-- ============ HEADER ============ -->
    <%- include ('../partials/header.ejs') %>  

    
    <style type="text/css">
      body {
        background-color: #B86F52;
      }
      </style>

<body>

    <h1>EDIT PRODUCT</h1>

    <div class="container6">
        <form action="/minimalist/<%= product.id %>?_method=PUT" method="POST">
    		<h3 class="prodTitle">Title: <input class="box" type="text" name="title" value="<%=product.name%>"/><br/>
        <h3 class="prodTitle">Price: <input class="box" type="text" name="price" value="<%=product.price%>"/><br/>
        <h3 class="prodTitle">tags: <input class="box" type="text" name="tags" value="<%=product.tags%>"/><br/>
        <h3 class="prodTitle"> Additional Notes: <input class="box3" type="text" name="notes" value="<%=product.notes%>"/><br/>
        <h3 class="prodTitle">Link: <input class="box" type="text" name="link" value="<%=product.link%>"/><br/>
            <br/>
            <input type="submit" name="" value="Submit Changes" id="submitEd"/>
           
        </form>
      </div>

    <a class="link-furniture" href="/minimalist/">Back to Furniture</a>


</body>
</html>
