<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interior Design Studio</title>
</head>
<body>
    <style type="text/css">
        img{
            height: 800px;
            height: 800px;
        }
        </style>
        

    <a href="/designs">Interior Design Styles</a>
    
    <h1>Minimalism Furniture</h1>
    
    <p> 
        Although many minimalists focus on neutral tones and increasingly rely on white, a deliberate, temperate use of color is also possible.<br>
        The combination of different textures or the use of large-scale geometric shapes as well as typographic images also bring harmony to a pure, uncluttered environment.<br>
    </p>

    <h1>Elements of Minimalist Interior Design</h1>
    <p> * Simple lines <br>
        * Monochromatic or neutral color palettes <br>
        * Limited furniture <br>
        * Limited decorative objects <br>
        * Storage solutions that keep the space uncluttered <br>
        * Open floor plans <br>
        * Natural light <br>
        </p>
   
    <ul>
        <% for(let i=0; i < minimalists.length; i++) { %>
            <li>
                
                <a href="/minimalist/<%=minimalists[i].id; %>">
                    <%=minimalists[i].title;%></a><br>
                <p <%=minimalists[i].id; %>><%=minimalists[i].description; %></p>
                <a href="/minimalist/<%=minimalists[i].id;%>"><img src="<%=minimalists[i].image;%>"></a>
            
            </li>
        <% } %>
    </ul>

    <a href="/minimalist/new">Add New Product to Studio</a>

</body>
</html>