<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <h1>Edit Product</h1>
        <form action="/industrial/<%= product.id %>?_method=PUT" method="POST">
    		Title: <input type="text" name="title" value="<%=product.name%>"/><br/>
    		Price: <input type="text" name="price" value="<%=product.price%>"/><br/>
            tags: <input type="text" name="tags" value="<%=product.tags%>"/><br/>
            Additional Notes: <input type="text" name="notes" value="<%=product.notes%>"/><br/>
            Link: <input type="text" name="link" value="<%=product.link%>"/><br/>
            <br/>
            <input type="submit" name="" value="Submit Changes"/>
        </form>


    <a href="/mediterranean/">Back to Furniture</a>

</body>
</html>
