<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Page</title>
</head>
<body>

    <h1><%= industrial.title %></h1>
    <img src="<%= industrial.image%>"><br>
    Store: <br>
    <%= industrial.store %> <br>
    Description: <br>
    <%= industrial.description %> <br>
    Price: <br>
     <%= industrial.price%> <br>
    Tags: <br>
     <%= industrial.tags %><br>
    Additional Notes: <br>
    <%= industrial.notes %>
    <br> 
    <a href="<%= industrial.link%>" target="_blank">Visit the Store</a><br>
    <!-- Link:   <%= industrial.link%><br>  -->

    <form action="/industrial/<%=industrial.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form> 

    <form action="/industrial/<%=industrial._id%>/edit">
        <input type="submit" value="Edit">
     </form> 

    <a href="/industrial">Back to Decor Ideas</a>

    <a href="/designs/inProjects">Back to Industrial Design Style></a>

<!--    
    <input type="button" id="add" value="Add to your Studio Page"/> -->
</body>
</html>